.bg {
  background-color: #313a46;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
}
html {
  background: #313a46;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
